body {
    margin: 0;
    padding: 0;
  
    background: rgba(0, 0, 0, 0.918);
    height: 100vh;
    
    

}

.title {
    display: flex;
    justify-self:center;
    flex-direction: row;
    height: 100px;
    color: white;


    

  
}

.mvp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
  
    
   
}



.display {
    padding: 7px;
    margin-top: 16px;
    border-radius: 16px;
    width: 200px;
    color: black;
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: 400px;
    border-radius: 20px;
    background: rgb(255, 0 ,0);
    flex-shrink: 1;
    
    

}



button {
    background-color: black;
    color: white;
    padding: 6px;
    font-size: 30px;
    border-radius: 20px;

   
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

   
}


